# PostgreSQL
DB_NAME=nexapm
DB_USERNAME=nexapm
DB_PASSWORD=nexapm_s3cur3!2026
DB_URL=jdbc:postgresql://postgres:5432/nexapm

# JWT
# openssl rand -base64 64
JWT_SECRET=bmV4YXBtLXN1cGVyLXNlY3JldC1qd3Qta2V5LTIwMjYtbWluaW11bS0zMi1ieXRlcyE=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# App
SERVER_PORT=8080
